<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?73c27e26f610eb3c9f3feb0c75b03925";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Javascript Quiz</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>Question 1: What does the link do?</p>
    <a href="#pagetwo" data-transition="fade">Answer</a>
  </div>

  <div data-role="footer">
    <h1>&copy 2019 Shimanti Guha</h1>
  </div>
</div> 

<div data-role="page" data-dialog="true" id="pagetwo">
  <div data-role="header">
    <h1>Answer!</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>The link goes to a dialog box to give the answer. </p>
    <a href="#pageone">Back to the Question</a>
    <p><b>Tip:</b> You can also close the dialog box by clicking the X button in header. This will automatically transition back to the page you came from, with the same transition effect (fade) used to open this dialog.</p>
  </div>

  <div data-role="footer">
    <h1>&copy 2019 Shimanti Guha</h1>
  </div>
</div> 

</body>
</html>
