 
/* LIST #2 */
#list3 { width:320px; }
#list3 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;  }
#list3 ol li { }
#list3 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#eee; border-left: 1px solid #999; }
#list3 ol li p em { display:block; }